{
  "openapi": "3.1.0",
  "info": {
    "title": "MailGreet API",
    "description": "REST API for the MailGreet email marketing platform. Manage subscribers, campaigns, and more programmatically.",
    "version": "1.0.0",
    "contact": {
      "name": "MailGreet Support",
      "email": "support@mailgreet.com",
      "url": "https://mailgreet.com"
    }
  },
  "servers": [
    {
      "url": "https://api.mailgreet.com/api/v1/external",
      "description": "Production API"
    },
    {
      "url": "http://localhost:8001/api/v1/external",
      "description": "Development API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/test-auth": {
      "get": {
        "operationId": "testAuthentication",
        "summary": "Test Authentication",
        "description": "Verify your API key is working correctly",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscribers": {
      "get": {
        "operationId": "listSubscribers",
        "summary": "List All Subscribers",
        "description": "Retrieve a paginated list of all your subscribers",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page (max: 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by subscriber status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "unsubscribed",
                "bounced",
                "complained"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by email, first name, or last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter by group ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSubscriber",
        "summary": "Create Subscriber",
        "description": "Add a new subscriber to your mailing list",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriber created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscriber limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscribers/stats": {
      "get": {
        "operationId": "getSubscriberStats",
        "summary": "Get Subscriber Statistics",
        "description": "Get aggregate statistics about your subscribers",
        "tags": [
          "Subscribers"
        ],
        "responses": {
          "200": {
            "description": "Subscriber statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscribers/{subscriberId}": {
      "get": {
        "operationId": "getSubscriber",
        "summary": "Get Subscriber by ID",
        "description": "Retrieve details of a specific subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "description": "The UUID of the subscriber",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberResponse"
                }
              }
            }
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateSubscriber",
        "summary": "Update Subscriber",
        "description": "Update an existing subscriber's information",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "description": "The UUID of the subscriber",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberResponse"
                }
              }
            }
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSubscriber",
        "summary": "Delete Subscriber",
        "description": "Permanently remove a subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "description": "The UUID of the subscriber",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Subscriber deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "API key authentication successful"
          },
          "data": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "format": "uuid"
              },
              "clerk_user_id": {
                "type": "string"
              },
              "api_key_name": {
                "type": "string"
              },
              "authenticated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Subscriber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "unsubscribed",
              "bounced",
              "complained"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriberResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Subscriber"
          }
        }
      },
      "SubscriberListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "subscribers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              },
              "pagination": {
                "type": "object",
                "properties": {
                  "current_page": {
                    "type": "integer"
                  },
                  "total_pages": {
                    "type": "integer"
                  },
                  "total_count": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "SubscriberStatsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "active": {
                "type": "integer"
              },
              "unsubscribed": {
                "type": "integer"
              },
              "bounced": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "usage_percentage": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CreateSubscriberRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Valid email address"
          },
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Array of group IDs to add subscriber to"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom field key-value pairs"
          }
        }
      },
      "UpdateSubscriberRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "unsubscribed"
            ]
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your MailGreet API key"
      }
    }
  }
}